<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="60">

    <title>WebSocket/SockJS Echo Sample (Adapted from Tomcat's echo sample)</title>
    <script type="application/javascript" src="resource/js/jquery-1.7.2.min.js"></script>
    <script type="application/javascript" src="resource/js/reconnecting-websocket.min.js"></script>
    <script type="application/javascript" src="resource/js/protoc.js"></script>
    <script type="text/javascript">
        var  wsServer = 'ws://45.32.10.203:8080/connection.htm';
        jQuery(document).ready(function(){
            var websocket = new ReconnectingWebSocket(wsServer, null, {debug: true, reconnectInterval: 3000});
            websocket.onopen = function (evt) {
                onOpen(evt)
            };
            websocket.onclose = function (evt) { onClose(evt) };
            websocket.onmessage = function (evt) { onMessage(evt) };
            websocket.onerror = function (evt) { onError(evt) };
            function onOpen(evt) {
                console.log("Connected to WebSocket server.");
                jQuery("#status").val("已经链接");
            }
            function onClose(evt) {
                console.log("Disconnected");
                jQuery("#status").val("链接终止");
            }
            function onMessage(evt) {
                console.log('Retrieved data from server: ' + evt.data);
            }
            function onError(evt) {
                console.log('Error occured: ' + evt.data);
                jQuery("#status").val("链接失败");
            }

            /*jQuery("#refresh").on('click',function () {
                websocket = new WebSocket(wsServer);
                alert(websocket)
            });*/

            jQuery("#send").on('click',function () {
                var send = jQuery("#insert").val();
                if(send!=''){
                    var head = new header();
                    head.status='100';
                    head.type='system';
                    head.uuid='asd';
                    var msg = new  message();
                    msg.head=head;
                    msg.body=send;
                    websocket.send(msg);
                }
                jQuery("#insert").val("");
            });
        });

    </script>
</head>
<body>
<div>
    <div>
        <input id="status" type="text" value="等待链接" disabled="disabled" style="align-content: center" />
        <input type="button" id="refresh" value="刷新">
    </div>
    <div id="input">
        <input id="insert" type="text"  style="align-content: center" />
        <input type="button" id="发送消息" value="send">
    </div>
</div>
</body>
</html>